li {font-size: 15px;
	font-family: "Nachlieli CLM"; 
	display: inline-block;
	color: #FF7D05;
	text-decoration: none;}



h1 {font-size: 80px;
	color: #FF7D05;
	font-family: "Bebas Neue" }

p  {font-size: 16px;
	font-family: "Roboto"}

h3{display: inline-block;}
div.menuhaut{text-align: right;}
div.menubas{text-align: center;}
div.textfin{text-align: center;}