body, html{}

li {font-size: 15px;
	font-family: "Nachlieli CLM"; 
	display: inline-block;
	color: #FF7D05;
	text-decoration: none;
   }

li:hover a{

	color: white;
}

h1 {font-size: 80px;
	color: #FF7D05;
	font-family: "Bebas Neue" }

p  {font-size: 16px;
	font-family: "Roboto"}

h3{display: inline-block;}
div.menuhaut{text-align: right;}
div.menubas{text-align: center;}
div.textfin{text-align: center;}

/*
	HEADER
*/

.menuhaut{
	background-color: black;
	text-align: right;
	height: 10vh;
	/*width: 100vw;*/
}

.menuhaut a {
	color: #FF7D05;
	margin-top: 20px;
	text-decoration: none;
}

.menuhaut ul {
	padding-top: 25px;
	padding-right: 25px;
}

.htm{
	float: left;
	height: auto;
	width: 80px;
}

.suzuki{
	background: url(images/suzuki.jpg);
	/*width: 100vw;*/
	height: 90vh;
}

.logo{
	height: auto;
	width: 500px;
	margin-left: 200px;
	margin-top: 50px;
}

.fleche{
	height: auto;
	width: 175px;
	

}


/* 
	SECTION 1
*/

.S1 {
	display: flex;
	height: 600px;
	margin-top: 100px;
}

.S1 > * {
	flex: 1;
	height: 100;
	background: white;
}

.S1 .textH1 {
	background-image: url("images/S1.jpg");
	background-size: cover;
	background-position: center;
}


.S1 h1 {
	position: relative;
	left: 59.5%;
	max-width: 700px;
	width: 100%;
	margin-top: 50px;
}


div.textS1 p {
	margin-top: 350px;
	margin-left: 200px
}
.découvrirS1 {
	display: block;
	max-width: 300px;
	height :100px;
	margin-left: 175px;
}

/*
	SECTION 2
*/

.S2 {
	display: flex;
	height: 600px;
	margin-top: 100px;


}

.S2 > * {
	flex: 1;
	height: 100;
	background: white;
}

.S2 .textH2 {

	background-image: url("images/S2.jpg");
	background-size: cover;
	background-position: center;

}


.S2 h1 {
	position: relative;
	left: -30%;
	max-width: 700px;
	width: 100%;
	margin-top: 50px;

}


div.textS2 p {
	margin-top: 350px;
	margin-left: 200px;
}


.big-buttonS2 {
	display: block;
	max-width: 300px;
	height :100px;
	margin-left: 175px;
}





/*
	SECTION 3
*/

.S3 {
	display: flex;
	height: 600px;
	margin-top: 100px;

}

.S3 > * {
	flex: 1;
	height: 100;
	background: white;
}

.S3 .textH3 {
	background-image: url("images/S3.jpg");
	background-size: cover;
	background-position: center;
}


.S3 h1 {
	position: relative;
	left: 50%;
	max-width: 700px;
	width: 100%;
	margin-top: 50px;
	margin-left: 120px;

}


div.textS3 p {
	margin-top: 350px;
	margin-left: 200px;
}

.découvrirS3 {
	display: block;
	max-width: 300px;
	height :100px;
	margin-left: 175px;
}


.maps {
display: block;
height: 180px;

padding-top: 20px

}


/*
	Informations	
*/

.flexmere{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-direction: row;
	background-color: #FF7D05;
}

.flexgauche{
	display: flex;
	flex-direction: column;
}

.flexgauche h3{
text-align: center;
display: block;

}

.flexdroite{
	display: flex;
	flex-direction: column;
}

/*
	Menu Bas
*/

.menubas{
	background-color: black;
	text-align: right;
	height: 10vh;
	/*width: 100vw;*/
}

.menubas a {
	color: #FF7D05;
	text-decoration: none;
}

.menubas ul {
	padding-top: 25px;
}


.container{

flex-direction: row;
flex-direction: row-reverse;
}

/* BOUTON BLANC */

.button:hover {
	color:black;
	background:white;
}


/* GENERAL effet sous ligné menu */
.menuhaut a {
  display: table;
  padding: 5px 0;
  text-decoration: none;
  color: #FF7D05;
  margin: 10px auto;
  position: relative;
}


.menuhaut a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  right: 0;
  background: #FF7D05;
  transition: width .2s
}

.menuhaut li:hover a:after {
  width: 100%;
  left: 0;
}
/* GENERAL effet sous ligné menu */
.menubas a {
  display: table;
  padding: 5px 0;
  text-decoration: none;
  color: #FF7D05;
  margin: 10px auto;
  position: relative;
}


.menubas a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  right: 0;
  background: #FF7D05;
  transition: width .2s
}

.menubas li:hover a:after {
  width: 100%;
  left: 0;
}